<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233184847297-u65f80jbmiqh7lrgbvd3gs9p71sq0c8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233184847297-u65f80jbmiqh7lrgbvd3gs9p71sq0c8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCID3BKWCYRU_vFwPB9oJ8PchoLg8bTP0s</string>
	<key>GCM_SENDER_ID</key>
	<string>233184847297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.codegrove.Buddygram</string>
	<key>PROJECT_ID</key>
	<string>project-2-9-kkc</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2-9-kkc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233184847297:ios:b0a57a694f2f5ebb2cfb40</string>
</dict>
</plist>